.panel-produtos{
    position: relative;
    padding-top:40px;
    background-image: url(../img/fractals.jpg);
    height: 1200px;
        
}

.panel-produtos .about-produtos{
    text-align:center;
    
}
.panel-produtos .about-produtos .title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#4E4EF2;
    font-size:40px;
    margin-bottom: 40px;
    text-transform:uppercase;
}


.panel-produtos .about-produtos .subtitle{
    color:#4E4EF2;
    font-size:20px;
    margin-bottom: 16px;
    text-transform:uppercase;
    
}

.panel-produtos .produtos{
    text-align: center;
    position: relative;
                
}
.panel-produtos .produto{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background:mediumpurple;
    display:inline-block;
    margin: 0 16px 32px 16px;
    padding:20px;
    border-radius:10px;
    width:220px;
    vertical-align: top;
}

.panel-produtos .produto-image{
    border-radius: 50%;
}
.panel-produtos .produto-name{
    margin-top:10px;
}
.panel-produtos .produto-bio{
    font-weight:bold;
    margin-top:16px;
}
.panel-produtos .produto-speach{
    margin-top:16px;
    
}
